h1 {
    font-size: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #925b48;
    font-family: 'Great Vibes', cursive;
    font-weight: normal;
}

p,
span {
    font-family: 'Playfair Display', serif;
    color: rgb(35, 35, 35);
}

h1 a {
    font-family: 'Great Vibes', cursive;
    color: #925b48;
    font-size: 26px;
    text-decoration: none;
}

.App {
    position: relative;
}

.ant-card-actions li{
    border: 1px solid rgb(240, 240, 240);
    margin: 0 !important;
    padding: 12px 0 !important;
}

.ant-card-actions li:first-of-type {
    border-radius: 0 0 0 8px;
}

.ant-card-actions li:nth-child(2) {
    border-radius: 0 0 8px 0;
}

.ant-card-body {
    padding: 12px 24px !important;
}

.ant-card-body div{
    font-family: 'Playfair Display', serif !important;
}

.ant-card-body p{
    margin-bottom: 0 !important;
    font-weight: 500;
}

footer {
    height: 70px;
    background-color: #925b48;
    margin-top:30px;
    color: #fff;
    font-family: 'Playfair Display', serif !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .ant-card-actions {
    padding: 12px 0 !important;
} */

